<% include header %>

<h1><%=title %></h1>
<p>Welcome to <%=title %></p>
<% if (isVisit){%>
<h4>欢迎回来</h4>
<%}else{%>
<h4>欢迎第一次访问</h4>
<%}%>

<ul>
    <li><a href="/superagent">superagent</a></li>
    <li><a href="/eventproxy">eventproxy</a></li>
    <li><a href="/login">login</a></li>
    <li><a href="/mapshowcase">mapshowcase</a></li>
</ul>
<pre>
    &lt;!DOCTYPEhtml&gt;
</pre>

<blockquote>
    blockquote
</blockquote>

<blockquote>
    <p>For writing maintainable and scalable HTML documents.</p>

    <footer>— HTML Best Practices</footer>
</blockquote>


<ul type="I">
    <li>General</li>
    <li>The root Element</li>
    <li>Sections</li>
</ul>

<figure>
    <img src="/img/chinamap.png"/>
    <figcaption>hello</figcaption>
</figure>

<em>em元素的使用</em>

<strong>strong元素的使用</strong>
<q>q元素的使用</q>

<abbr title="abbr元素的title">abbr元素的使用</abbr>


<div>
    键入 <kbd>quit</kbd>quit 来退出程序，或者键入 <kbd>menu</kbd> 来返回主菜单
</div>


<map name="toc">
    <p>
        <a href="#general">General</a>
        <area alt="General" coords="0, 0, 400, 400" href="#General"> |
        <a href="#the_root_element">The root element</a>
        <area alt="The root element" coords="50, 0, 90, 40" href="#the_root_element"> |
        <a href="#sections">Sections</a>
        <area alt="Sections" coords="100, 0, 140, 40" href="#sections">
    </p>
</map>

<% include footer %>
